<div
    style="max-width: 1200px; padding:50px ; margin: 0 auto; display: grid; grid-gap: 20px; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));">
    <!-- Blog Card 1 -->

    {{#each this.blogs}}

    <div style="background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 style="font-size: 1.5em; margin-bottom: 10px;">{{this.title}}</h2>
        <p style="margin-bottom: 15px;">{{this.description}}</p>
        <a href={{concate '/views/blog/' this.slug }}
            style="color: #007bff; text-decoration: none; display: inline-block;">Read
            More </a>

    </div>
    {{/each}}


</div>
<h1 style="padding:20px"> EditorsChoice:</h1>
<div
    style="max-width: 1200px; padding:50px ; margin: 0 auto; display: grid; grid-gap: 20px; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));">


    {{#each this.editorChoiceBlogs}}

    <div style="background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 style="font-size: 1.5em; margin-bottom: 10px;">{{this.title}}</h2>
        <p style="margin-bottom: 15px;">{{this.description}}</p>
        <a href={{concate '/views/blog/' this.slug }}
            style="color: #007bff; text-decoration: none; display: inline-block;">Read
            More </a>

    </div>
    {{/each}}


</div>